<!--
  Copyright 2013 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.marmac.tutorials.android.bankaccountanalyzer"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- Define the permission to use the ContentProvider in Read or Write -->
    <permission
        android:name="name.marmac.tutorials.android.bankaccountanalyzer.READ"
        android:description="@string/descr_permission_provider_READ"
        android:label="@string/label_permission_provider_READ"
        android:protectionLevel="normal" />

    <permission
        android:name="name.marmac.tutorials.android.bankaccountanalyzer.WRITE"
        android:description="@string/descr_permission_provider_WRITE"
        android:label="@string/label_permission_provider_WRITE"
        android:protectionLevel="normal" />
    
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        
        <activity
            android:name=".activities.BankManagerMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Define the ContentProvider by:
        	- its name pointing to the class that extends ContentProvider
        	- the authority that respond to the 
        	- the enforcement of the permission declared in the permission section.
         -->
        <provider
            android:name			="name.marmac.tutorials.android.bankaccountanalyzer.contentproviders.BankAnalysisContentProvider"
            android:authorities		="name.marmac.tutorials.android.contentproviders.bankanalysis.provider"
            android:exported		="true"
            android:grantUriPermissions	="true"
            android:label			="BankAnalysisItemsProvider"
            android:readPermission	="name.marmac.tutorials.android.bankaccountanalyzer.READ"
            android:writePermission	="name.marmac.tutorials.android.bankaccountanalyzer.WRITE" >
        </provider>

        <service android:name=".services.datasync.MarmacAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

</manifest>
